<!-- <button mat-raised-button (click) = "login()">
    Login
</button> -->

<div class = "container">
    <div class = "form-sections">
        <h1 class = "title">
            Bun venit!
        </h1>

        <form [formGroup] = "loginForm" class ="form">
            <mat-form-field appearence = "outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder = "Username" formControlName = "username" />
            </mat-form-field>

            <mat-form-field appearence = "outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder = "Password" type = "password" formControlName = "password" />
            </mat-form-field>
        </form>
    </div>

    <button mat-raised-button (click) = "login()">
        Login
    </button>    

    <div class = "message-section">
        <p>
            Please fill in the login form above!
        </p>
    </div>
</div>